<% include ../../partials/header %> <% include ../../partials/adminNav %>

<div class="container-fluid mt-5 pt-2">
  <div class="row m-0">
    <div class="col-md-3 rounded-card m-2 justify-content-center">
      <img src="/images/<%=user.image || 'profile.png'%>" class="card-img-center p-2 " />
      <a href="/admin/users/<%=user._id%>/modifier" class="btn btn-warning rounded-pill m-5">Modifier le profile</a>
    </div>
    <div class="rounded-card rounded-card rounded-card col m-0 p-0">
      <h4 class="text-center rounded-card-header p-2 ">Informations Personelles</h4>

      <ul class="list-group list-group-flush p-4">
        <li class="list-group-item">Numéro : <%=user.numero%></li>
        <li class="list-group-item">Prenom : <%=user.prenom%></li>
        <li class="list-group-item">Nom : <%=user.nom%></li>
        <li class="list-group-item">Username : <%=user.username%></li>
        <li class="list-group-item">
          créé a : <%=user.dateDadhesion.toDateString()%>
        </li>
        <li class="list-group-item">Email : <%=user.email%></li>

        <li class="list-group-item">
          Addresse : <%=user.addresse%>
        </li>
        <li class="list-group-item">
          <%var t = user.dateDeNaissance%> Né(e) le : <%=
              t.getDate()+'/'+(t.getMonth()+1)+'/'+t.getFullYear()%>
        </li>
        <li class="list-group-item text-danger font-weight-bold">
          Est Suspendu : <%=(user.violationFlag)?"Oui":"Non" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<% include ../../partials/footer %>