<% include ../partials/header %>

    <!--NAVIGATION BAR FOR USER-->
    <% include ../partials/userNav %>

        <!--BOOK DETAILS-->

        <div class="container mt-3 mb-3 rounded-pill">
            <div class="row justify-content-center mb-3">
                <div class="col-md-10 mb-4">
                    <div class="card ">
                        <div class="card-header">
                            <h4 class="text-center">
                                <%= document.titre %>
                            </h4>
                        </div>
                        <small class="px-3 py-2">
                            <a class="font-weight-bold" font="bold">Auteurs :</a>
                            <%= document.auteur %>
                        </small>
                        <small class="px-3 py-2"> <a class="font-weight-bold" font="bold">ISBN : </a>
                            <%= document.ISBN %>
                        </small>
                        <small class="px-3 py-2"><a class="font-weight-bold" font="bold">Categorie : </a>
                            <%= document.categorie %>
                        </small>
                        <small class="px-3 py-2"><a class="font-weight-bold" font="bold">Année
                                <%=(document.type==='Livre' )? "d'edition" :"" %>:
                            </a>
                            <%= document.annee %>
                        </small>
                        <%if(document.edition !==undefined) {%>
                            <small class="px-3 py-2"><a class="font-weight-bold" font="bold">Edition: </a>
                                <%= document.edition%>
                            </small>
                            <%}%>
                                <small class="px-3 py-2"><a class="font-weight-bold" font="bold">type de document:
                                    </a>
                                    <%= document.type%>
                                </small>
                                <small class="px-3 py-2"><a class="font-weight-bold" font="bold">Langue:
                                    </a>
                                    <%= document.lang%>
                                </small>
                                <small class="px-3 py-2"><a class="font-weight-bold" font="bold">Nombre d'exemplaire :
                                    </a>
                                    <%= document.stock %>
                                </small>

                                <div class="card-body">
                                    <a class="font-weight-bold" font="bold">Résume: </a>
                                    <p class="card-text">
                                        <%- document.resume %>
                                    </p>
                                    <h4>Exemplaires :</h4>
                                    <table class="table table">

                                        <thead class="thead-inverse thead-dark">
                                            <tr>
                                                <th>cote</th>
                                                <th>localisation</th>
                                                <th>support</th>
                                                <th>type de pret</th>
                                                <th>statut</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% document.copies.forEach(copy=> { %>

                                                <tr>
                                                    <td>
                                                        <%= copy.cote%>
                                                    </td>
                                                    <td>
                                                        <%= copy.localization%>
                                                    </td>
                                                    <td>
                                                        <%= copy.material%>
                                                    </td>
                                                    <td>
                                                        <%= copy.landtype%>
                                                    </td>
                                                    <td>
                                                        <%= copy.status%>
                                                    </td>
                                                </tr>
                                                <% }); %>

                                        </tbody>
                                    </table>

                                </div>


                    </div>
                </div>
            </div>

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <% include ../partials/footer %>