<% include ../partials/header %>

  <!--NAVIGATION BAR FOR USER-->
  <% include ../partials/userNav %>

    <!--DASHBOARD SECTION-->
    <header id="main-header" class="py-2 bg-light text-secondary shadow text-center">
      <div class="container">
            <h1><i class="fa fa-gear"></i> Dashboard</h1>
      </div>
    </header>

    <% include ../partials/alerts %>
      <!-- ACTIONS -->
      <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-md-4">
              <a href="/documents/all/all/1" class=" btn rounded-pill  btn-primary btn-block">
                <i class="fa fa-plus"></i> Prêt un document
              </a>
            </div>


            <div class="col-md-4">
              <a href="/documents/MesPrets" class=" btn rounded-pill  btn-info btn-block">
                <i class="fa fa-retweet"></i> Mes Prêts
              </a>
            </div>


          </div>
        </div>
      </section>


      <section id="home" class="mt-4">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-md-3">  
              <div class="rounded-card">
                <div class="card-body">
                <img src="/images/<%=user.image||'profile.png'%>" class="card-img-top roundrd-circle" alt="...">
                <div class="card-body">
                  <p>Name : <%=user.prenom%>
                      <%=user.nom%>
                  </p>
                  <p>Email : <%=user.email%>
                  </p>
                  <p>Document pretd : <%=user.exemplairepretInfo.length%>
                  </p>
                  <p>Due : $<%=user.fines%>
                  </p>
                  <p>Flagged : <%=user.violationFlag%>
                  </p>
                  <p>Joined : <%=user.dateDadhesion.toDateString() %>
                  </p>
                </div>
             </div>
              </div>
            </div>
<div class="col-md-5">  </div>

                    <!--<nav class="ml-3">-->
                    <!--  <ul class="pagination offset-md-4">-->
                    <!--    <li class="page-item disabled"><a href="#" class="page-link"><i class="fa fa-angle-double-left"></i> Previous</a></li>-->
                    <!--    <li class="page-item active"><a href="#" class="page-link">1</a></li>-->
                    <!--    <li class="page-item"><a href="#" class="page-link">2</a></li>-->
                    <!--    <li class="page-item"><a href="#" class="page-link">3</a></li>-->
                    <!--    <li class="page-item"><a href="#" class="page-link">Next <i class="fa fa-angle-double-right"></i></a></li>-->
                    <!--  </ul>-->
                    <!--</nav>-->

              </div>
            </div>
          </div>
        </div>
      </section>

      <!--PAY FINE MODAL-->
      <div class="modal fade" id="payFineModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-danger text-white">
              <h5 class="modal-titre" id="payFineModalLabel">
                This route is still under development. will be added in next version
              </h5>
              <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
          </div>
        </div>
      </div>

      <% include ../partials/footer %>