<% include ../partials/header %>

  <!--NAVIGATION BAR FOR USER-->
  <% include ../partials/userNav %>

    <!--DASHBOARD SECTION-->
    <header id="main-header" class="py-2 bg-info text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1><i class="fa fa-user"></i> Profile</h1>
          </div>
        </div>
      </div>
    </header>

    <!--ACTIONS-->
    <section id="actions" class="py-4 mb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-3 mr-auto">
            <a href="/user/1" class=" btn rounded-pill  btn-light btn-block">
              <i class="fa fa-arrow-left"></i> Back To Dashboard
            </a>
          </div>

          <div class="col-md-3">
            <a href="" class=" btn rounded-pill  btn-primary btn-block" data-toggle="modal"
              data-target="#changePasswordModal">
              <i class="fa fa-key"></i> Change Password
            </a>
          </div>

          <div class="col-md-3">
            <a href="" class=" btn rounded-pill  btn-warning btn-block" data-toggle="modal"
              data-target="#updateProfileModal">
              <i class="fa fa-refresh"></i> Update Profile
            </a>
          </div>

          <% if(currentUser.exemplairepretInfo.length> 0) { %>
            <div class="col-md-3">
              <a class=" btn rounded-pill  btn-danger btn-block" disabled
                titre="You have to return all borrowed/renewed documents first">
                <i class="fa fa-remove"></i> Delete Profile
              </a>
            </div>
            <% } else { %>

              <div class="col-md-3">
                <a href="" class=" btn rounded-pill  btn-danger btn-block" data-toggle="modal"
                  data-target="#deleteProfileModal">
                  <i class="fa fa-remove"></i> Delete Profile
                </a>
              </div>
              <% } %>
        </div>
      </div>
    </section>

    <% include ../partials/alerts %>

      <!--PROFILE-->
      <section class="mt-4">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <img src="/images/<%=currentUser.image ||'profile.png'%>" class="card-img-top rounded-circle">
              <a href="" class="text-muted ml-5" data-toggle="modal" data-target="#changePhotoModal"><i
                  class="fa fa-camera"></i> Change Photo</a>
            </div>
            <div class="col-md-6">
              <h4 class="text-center pb-3">Personal Informations</h4>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">First Name : <%=currentUser.prenom%>
                </li>
                <li class="list-group-item">Last Name : <%=currentUser.nom%>
                </li>
                <li class="list-group-item">Username : <%=currentUser.username%>
                </li>
                <li class="list-group-item">Joined : <%=currentUser.dateDadhesion.toDateString()%>
                </li>
                <li class="list-group-item">Email : <%=currentUser.email%>
                </li>
                <li class="list-group-item">Address : <%=currentUser.address%>
                </li>
                <li class="list-group-item text-danger font-weight-bold">Violation Flag : <%=currentUser.violationFlag%>
                </li>
                <li class="list-group-item">Due Fines : $<%=currentUser.fines%>
                </li>
              </ul>
            </div>

            <div class="col-md-3" style='overflow: hidden'>
              <h4 class="text-center pb-3">Terms & Conditions</h4>
                المادة 214 :تتكون مكتبات الجامعة من المكتبة المركزیة ومكتبات الكلیات.
                المادة 215 :یخصص دخول مكتبات الجامعة للفئات الآتیة:
                 ـ الأساتذة والطلبة المسجلین بصفة منتظمة في كلیة من كلیات الجامعة.
                 ـ الأشخاص المرخص لھم من قبل مسؤول المكتبة (الأساتذة الجامعیون، الباحثون، الطلبة
                والموظفون).
                المادة 216 :على الطالب أن یلتزم بالنظام الداخلي للمكتبة.
                المادة 217 :یعمل بنك الإعارة طوال فترة تحددھا إدارة المكتبة.
                المادة 218 :تمنح لطلبة ورواد مكتبات الجامعة بطاقة قارئ، أو ترخیص حسب كل حالة، وتعتبر
                ھذه البطاقة أو الترخیص وثیقة شخصیة لابد من تقدیمھا عند كل طلب. لا یمكن إعارتھا وعند 
                -27-
                ضیاعھا یجب إبلاغ الجھات المعنیة. ویجب على كل معني تجدید بطاقة القارئ مع مطلع كل سنة
                جامعیة.
                المادة 219 :إن قاعات المطالعة بمكتبات الجامعة مفتوحة لفترة تحددھا إدارة المكتبة.
                المادة 220 :إن قاعات المطالعة قاعات عمل وتفكیر، فالھدوء فیھا واجب وملزم، وكل إخلال أو
                عرقلة لسیر المكتبة یؤدي بمرتكبھ - حسب درجة خطورتھ -إلى ما یلي:
                 ـ التنبیھ
                 ـ الدعوة إلى مغادرة المكان
                 ـ المنع من الدخول فترة معینة بموجب مقرر من مسؤول المكتبة.
                 ـ الطرد النھائي من مكتبات الجامعة.
                 - الإحالة على المجلس التأدیبي.
                المادة 221 :كل شخص شوه كتابا، أو أخذه دون ترخیص، أو ضیعھ، فھو مجبر على تسدید قیمتھ.
                زیادة على تسدید قیمة الكتب یمكن أن تتخذ ضده إجراءات تأدیبیة حسب الحالة.
                المادة 222 :الإعارة الداخلیة محددة بثلاثة كتب.
                المادة 223 :یمكن للطالب أن یستعیر ثلاثة كتب لمدة أسبوع، وذلك ضمن الإعارة الخارجیة ولا
                یمكن في أي حال من الأحوال تجدید الإعارة الخارجیة للكتاب قبل مضي 24 ساعة من إرجاعھ،
                طیلة مدة الإعارة الخارجیة یكون المستعیر مسؤولا عن الكتب التي بحوزتھ.
                المادة 224 :كل تأخیر في إرجاع الكتب المستعارة بعد التاریخ المحدد، یعرض صاحبھ إلى عقوبة
                الحرمان من الاستعارة لمدة تساوي ضعف مدة التأخیر.
                المادة 225 :یحق للأستاذ استعارة خمسة كتب لمدة شھر ضمن الإعارة الخارجیة، وفي حالة
                الحاجة الماسة لتلك الكتب فعلى الأستاذ تجدید الاستعارة قبل انقضاء الأجل المحدد للإعارة الأولى.
                المادة 226 :تستبعد من الإعارة الخارجیة الموسوعات، والقوامیس، والكتب النادرة الثمینة
                والأطروحات والرسائل والمذكرات العلمیة.
                المادة 227 :بناء على طلب یقدم إلى مسؤول المكتبة، یمكن أن تقبل استعارة استثنائیة للكتب
                المستبعدة من الإعارة الخارجیة لمدة لا تتجاوز 48 ساعة.
                المادة 228 :یجب على جمیع رواد المكتبة تسویة وضعیتھم حیال المكتبة مع نھایة كل سنة
                جامعیة، وذلك عن طریق الحصول على شھادة تبرئة من المكتبة. شھادة التبرئة إلزامیة تمكن
                الطالب من الاستفادة من خدمات المكتبة في السنة الجامعیة الجدیدة، وبالنسبة إلى الطلبة المتخرجین
                لا تسلم لھم شھادة التخرج إلا بعد استرجاع الكتب المعارة.
                تعتبر شھادة التبرئة بالنسبة إلى الأساتذة إلزامیة لإمضاء محضر الخروج الخاص بالعطلة الصیفیة.
                المادة 229 :تعاد عملیة جرد وثائق المكتبة وإحصائھا كل سنة أثناء العطلة الصیفیة، لذلك یعلم
                القراء عن طریق الإعلان بتاریخ ھذه العملیة، وبتاریخ آخر أجل لاسترجاع الوثائق المعارة والذي
                یجب أن یتم دون أي استثناء من المستعیرین قبل خمسة عشر(15 (یوما من تاریخ انطلاق عملیة
                الجرد، وترسل نتائج ھذه العملیة من مسؤولي المكتبات إلى محافظ المكتبة المركزیة، والذي بدوره
                یرسل تقریرا شاملا عن وضعیة الجرد إلى السید مدیر الجامعة. 
            </div>
          </div>
        </div>
      </section>

      <!--Delete Profile Modal-->
      <div class="modal fade" id="deleteProfileModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-danger text-white">
              <h5 class="modal-titre" id="deleteProfileModalLabel">
                Once you press yes, all of your prets, comments and activities will be deleted permanently. Are you
                sure?
              </h5>
              <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
              <form action="/user/1/delete-profile?_method=DELETE" method="POST">

                <input type="submit" value="Yes" class=" btn rounded-pill  btn-danger btn-block m-1">

              </form>
              <input type="button" value="No" data-dismiss="modal" class=" btn rounded-pill  btn-success btn-block m-1">
            </div>
          </div>
        </div>
      </div>


      <!--Change Password Modal-->
      <div class="modal fade" id="changePasswordModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white">
              <h5 class="modal-titre" id="passwordModalLabel">
                Edit Password
              </h5>
              <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
              <form action="/user/1/update-password?_method=PUT" method="POST">
                <div class="form-group">
                  <label for="password" class="form-label">Old Password</label>
                  <input type="password" name="oldPassword" class="form-control rounded-pill  ">
                </div>
                <div class="form-group">
                  <label for="password" class="form-label">New Password</label>
                  <input id="password" type="password" name="password" class="form-control rounded-pill  ">
                </div>

                <div class="form-group">
                  <label for="password" class="form-label">Confirm Password</label>
                  <input id="confirmPassword" type="password" name="confirmPassword"
                    class="form-control rounded-pill  ">
                  <span id='message'></span>
                </div>
                <button id="button" class=" btn rounded-pill  btn-primary btn-block">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--Update Profile Modal-->
      <div class="modal fade" id="updateProfileModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-warning text-white">
              <h5 class="modal-titre" id="updateProfileModalLabel">
                Modifier le profile
              </h5>
              <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
              <form action="/user/1/update-profile?_method=PUT" method="POST">
                <div class="form-group">
                  <label for="prenom" class="form-label">Edit First Name</label>
                  <input type="text" name="prenom" class="form-control rounded-pill  " value="<%=currentUser.prenom%>">
                </div>
                <div class="form-group">
                  <label for="nom" class="form-label">Edit Last Name</label>
                  <input type="text" name="nom" class="form-control rounded-pill  " value="<%=currentUser.nom%>">
                </div>

                <div class="form-group">
                  <label for="email" class="form-label">Change Email</label>
                  <input type="email" name="email" class="form-control rounded-pill  " value="<%=currentUser.email%>">
                </div>



                <div class="form-group">
                  <label for="address" class="form-label">Address</label>
                  <input type="text" name="address" class="form-control rounded-pill  "
                    value="<%=currentUser.address%>">
                </div>

                <button class=" btn rounded-pill  btn-warning btn-block">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--Change Photo Modal-->
      <div class="modal fade" id="changePhotoModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white">
              <h5 class="modal-titre" id="passwordModalLabel">
                Change Photo
              </h5>
              <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
              <form method="POST" action="/user/1/image" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="photo" class="form-label">Change Photo</label>
                  <input type="file" name="image" class="form-control rounded-pill  ">
                </div>
                <input type="submit" class=" btn rounded-pill  btn-sm btn-primary m-2" value="Submit">
              </form>
            </div>
          </div>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
        $('#confirmPassword').on('keyup', function () {
          if ($(this).val() == $('#password').val()) {
            $('#message').html('Matched').css('color', 'green');
            $('#button').removeClass("d-none")
          }
          else {
            $('#message').html('Not matched!').css('color', 'red');
            $('#button').addClass("d-none");
          }
        });
      </script>

      <% include ../partials/footer %>