<% include ../partials/header %>

  <!--NAVIGATION BAR FOR USER-->
  <% include ../partials/userNav %>


    <!--DASHBOARD SECTION-->
    <header id="main-header" class="py-2 bg-info text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1><i class="fa fa-retweet"></i> Renew/Return</h1>
          </div>
        </div>
      </div>
    </header>

    <!--NOTIFICATIONS-->
    <section class="mt-4 py-3">
      <div class="container">
        <div class="col mx-auto">

          <div class="card">
            <div class="rounded-card-header   text-center">
              <h4>All Renewables/Returnables</h4>
            </div>
            <table mb-5 text-center  class="table mb-5 text-center  table-light">
              <thead class="thead-light">
                <tr>
                  <th>Titre</th>
                  <th>Auteur</th>
                  <th>pret date</th>
                  <th>Return date</th>
                  <th>Categorie</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% user.forEach(document=> { %>
                  <tr>
                    <td>You have pretd <%=document.document_info.titre%>
                    </td>
                    </td>
                    <td>
                      <%=document.document_info.auteur%>
                    </td>
                    <td>
                      <%=document.document_info.pretDate.toDateString()%>
                    </td>
                    <td>
                      <%=document.document_info.returnDate.toDateString()%>
                    </td>
                    <td>
                      <%=document.document_info.categorie%>
                    </td>
                    <td>

                      <% if(document.document_info.isRenewed) { %>
                        <a href="#" class=" btn rounded-pill  btn-xs btn-warning disabled" role="button"
                          aria-disabled="true">Renewed!</a>
                        <% } else if(currentUser.violationFlag && document.document_info.returnDate < Date.now()) { %>
                          <a class=" btn rounded-pill  btn-xs btn-warning"
                            titre="You can't renew document when you are flagged">Renew</a>
                          <% } else { %>
                            <form action="/documents/<%=document.document_info.doc_id%>/renew" method="POST"
                              class="d-inline">
                              <input class=" btn rounded-pill  btn-xs btn-warning" type="submit" value="Renew">
                            </form>
                            <% } %>

                              <form action="/documents/<%=document.document_info.doc_id%>/return" method="POST"
                                class="d-inline">
                                <input class=" btn rounded-pill  btn-xs btn-info" type="submit" value="Return">
                              </form>

                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>

            <!--<nav class="ml-3">-->
            <!--  <ul class="pagination offset-md-4">-->
            <!--    <li class="page-item disabled"><a href="#" class="page-link"><i class="fa fa-angle-double-left"></i> Previous</a></li>-->
            <!--    <li class="page-item active"><a href="#" class="page-link">1</a></li>-->
            <!--    <li class="page-item"><a href="#" class="page-link">2</a></li>-->
            <!--    <li class="page-item"><a href="#" class="page-link">3</a></li>-->
            <!--    <li class="page-item"><a href="#" class="page-link">Next <i class="fa fa-angle-double-right"></i></a></li>-->
            <!--  </ul>-->
            <!--</nav>-->

          </div>
        </div>
      </div>
    </section>

    <% include ../partials/footer %>