<% include ../../partials/header %>

<!--NAVIGATION BAR FOR ADMIN-->
<% include ../../partials/adminNav %>

<header id="main-header" class="py-4 mb-4 bg-light text-secondary shadow text-center">
  <div class="container">
    <h1><i class="fa fa-pencil"></i> Gestion des documents</h1>
  </div>
</header>

<!--ACTIONS-->
<section id="search_bar" class="my-4 m-4 py-4 rounded-card">
  <div class="container text-white">
    <form action="/admin/documentInventory/all/all/1" method="POST">
      <div class="row">
        <div class="col-md-5 p-1">
          <select name="filter" class="form-control rounded-pill">
            <option selected disabled>Selectionne un filter</option>
            <option name="titre" value="titre">Titre</option>
            <option name="auteur" value="auteur">Auteur</option>
            <option name="categorie" value="categorie">Categorie</option>
            <option name="ISBN" value="ISBN">ISBN</option>
            <option name="annee" value="annee">Année</option>
          </select>
        </div>

        <div class="col-md-5 p-1">
          <input name="searchName" type="text" class="form-control rounded-pill"
            placeholder="Recherche les documents" />
        </div>

        <div class="col-md-2 p-1">
          <input type="submit" class="btn rounded-pill btn-outline-primary btn-block" value="Recherche" />
        </div>
      </div>
    </form>
  </div>
</section>

<% include ../../partials/alerts %>

<!-- BOOK INVENTORY -->
<section id="documentInventory" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="rounded-card">
          <div class="rounded-card-header">
            <h4>Documents</h4>
          </div>
          <div class="card-body" style="overflow-x: auto;">
            <table mb-5 text-center class="table mb-5 text-center table-light">
              <thead class="thead-light">
                <tr>
                  <th>Titre</th>
                  <th>Auteur</th>
                  <th>ISBN</th>
                  <th>Catergory</th>
                  <th>Exemplaires</th>
                  <th>Modifier les documents</th>
                </tr>
              </thead>
              <tbody>
                <% documents.forEach(document=> { %>

                <tr>
                  <td><%= document.titre %></td>
                  <td><%= document.auteur %></td>
                  <td><%= document.ISBN %></td>
                  <td><%= document.categorie %></td>
                  <td><%= document.stock %></td>
                  <td>
                    <div style="display: flex; justify-content: center" class="">
                      <a href="/admin/document/update/<%=document._id%>"
                        class="btn rounded-pill btn-primary btn-sm m-1">Modifier</a>
                      <a href="/admin/document/<%=document._id%>/exemplaire/"
                        class="btn rounded-pill btn-sm btn-primary m-1">
                        Exemplaires
                      </a>
                      <a href="/admin/document/delete/<%=document._id%>"
                        class="btn rounded-pill btn-sm btn-danger m-1">Supprimer</a>
                      </span>
                    </div>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>

            <% if (pages> 0) { %>

            <nav class="m-auto">
              <ul class="pagination mb-2 justify-content-center">
                <% if (current==1) { %>
                <li class="page-item disabled">
                  <a class="page-link">First</a>
                </li>
                <% } else { %>
                <li class="page-item">
                  <a href="/admin/documentInventory/<%=filter%>/<%=value%>/1" class="page-link">First</a>
                </li>
                <% } %> <% var i=(Number(current)> 5 ? Number(current) - 4 : 1)
                %> <% if (i !==1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %> <% for (; i <=(Number(current) + 4) && i <=pages; i++) {
                %> <% if (i==current) { %>
                <li class="page-item active">
                  <a class="page-link"> <%= i %> </a>
                </li>
                <% } else { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/documentInventory/<%=filter%>/<%=value%>/<%= i %>">
                    <%= i %>
                  </a>
                </li>
                <% } %> <% if (i==Number(current) + 4 && i < pages) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %> <% } %> <% if (current==pages) { %>
                <li class="page-item disabled">
                  <a class="page-link">Last</a>
                </li>
                <% } else { %>
                <li class="page-item">
                  <a href="/admin/documentInventory/<%=filter%>/<%=value%>/<%= pages %>" class="page-link">Last</a>
                </li>
                <% } %>
              </ul>
            </nav>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ../../partials/footer %>